
.instrument {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.screen {
    width: 265px;
    height: 50px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 20px;
    display: flex; /* Enable flexbox layout for the inner box */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    text-align: center; 
}

.keypad {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow the items to wrap to the next line */
    width: 200px;
    height: 300px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: center; /* Center the items horizontally within the grid */
    align-items: center; /* Center the items vertically within the grid */
}

/* Each grid item */
.key {
    width: 60px; /* Set width of each grid item */
    height: 60px; /* Set height of each grid item */
    display: flex; /* Flex to center content inside each grid item */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    border: 2px solid black; /* Black border for each grid item */
    box-sizing: border-box; /* Include border in width/height calculation */
    font-size: 20px;
    text-align: center;
    
}

.operators {
    width: 50px;
    height: 300px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    justify-content: center; /* Center the items horizontally within the grid */
    align-items: center; /* Center the items vertically within the grid */
}
